@page "/Index"
@model GestionPlacesParking.Web.UI.Pages.Customs.IndexModel
@inject LinkGenerator linkGenerator
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    var isAdmin = HttpContext.Session.GetInt32("IsAdmin");

    if(isAdmin == 1)
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_Layout";
    }

    int MinId = Model.ParkingSlotList.First().Id;
    var requestToken = Antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<h1 class="display-6">Places de parking du @Model.Day.DaysOfTheWeek.First() au @Model.Day.DaysOfTheWeek.ElementAt(4)</h1>
<table class="table">
    <thead>
        <tr>
            <th></th>
            @foreach (var ParkingSlot in Model.ParkingSlotList)
            {
                <th class="justify-content-center text-center">@ParkingSlot.Label</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var DayOfTheWeek in Model.Day.DaysOfTheWeek)
        {
            @*Règle métier: Le samedi et le dimanche on ne fait pas de réservation*@
            @if (DayOfTheWeek.Key != "Samedi" && DayOfTheWeek.Key != "Dimanche")
            {
                <tr>
                    <td class="col-md-1">@DayOfTheWeek.Key</td>
                    @for (int i = MinId; i < (MinId + Model.ParkingSlotList.Count); i++)
                    {
                        @*Si le jour actuel + la place de parking est = à la donnée en cours alors on affiche le nom dans la case*@
                        var findReservation = Model.ReservationList.Find(
                            x => x.ReservationDate.ToShortDateString() == DayOfTheWeek.Value.ToShortDateString() &&
                            x.ParkingSlotId == i
                        );

                        if (findReservation != null)
                        {
                            @*Pas besoin d'injecter un ID pour reconnaitre car ne réserve pas pour un jour déjà réservé*@
                            <td class="col-md-2 justify-content-center text-center"><button class="btn bg-danger">@findReservation.ReservingName</button></td>
                        }
                        else
                        {
                            @*On inject un ID pour le récupérer facilement dans le JS pour faire la requete de création d'une réservation*@
                            <td class="col-md-2 justify-content-center text-center"><button id="@String.Format("{0}_{1}", DayOfTheWeek.Value, i)" class="btn bg-success p-3" onClick="openModal(event)"></button></td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>
<input id="XSRF-TOKEN" type="hidden" value="@requestToken" />

<partial name="Partials/_IndexMakeReservationModal" />

@section scripts {
    <script>
        let myModal = new bootstrap.Modal(document.getElementById('myModal'));
        let getIdClickedBtn = null;

        function openModal(event) {
            getIdClickedBtn = event.target.attributes.id.value;
            myModal.show();
        }

        function validModal() {
            newReservation();
        }

        async function newReservation() {
            const url = '@linkGenerator.GetPathByPage(HttpContext, "./Services/MakeReservationService")';
            const token = document.getElementById("XSRF-TOKEN").value;

            const reservingName = document.getElementById('reservingName').value;
            const reservationDateString = getIdClickedBtn.split('_')[0];
            const parkingSlotId = parseInt(getIdClickedBtn.split('_')[1]);

            const [day, month, year] = reservationDateString.split('/').map(Number);

            const reservationDate = new Date(Date.UTC(year, (month - 1), day)).toISOString();

            const bodyParams = {
                ReservingName: reservingName,
                ReservationDate: reservationDate,
                ParkingSlotId: parkingSlotId
            };

            let init = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json; charset = utf-8;',
                    'XSRF-TOKEN': token
                },
                body: JSON.stringify(bodyParams)
            };

            const response = await fetch(url, init);

            if (response.ok) {
                //Rafraichi la page
                location.reload();
            }
            else {
                const data = await response.json();
                document.getElementById('error-span').innerHTML = data.message;
            }
        }
    </script>
}