@page "/Profile"
@using GestionPlacesParking.Web.UI.CustomMethods
@model GestionPlacesParking.Web.UI.Pages.Customs.ProfileModel
@{
    Layout = CorrectLayoutCustomMethod.GetCorrectLayout(HttpContext);

    //var tmpProfileUserMonthsLocal = Model.ProfileLocal.ProfileUserMonthsListLocal;

    //string MesReservations = string.Join(", ", tmpProfileUserMonthsLocal.OrderBy(p => p.Mois).Select(p => p.NbReservations));
}

<h1 class="display-6">Tableau de mes réservations sur l'année </h1>
<span class="text-dark">Moyenne de mes réservations sur l'année : <b>@string.Format("{0:F1}", Model.ProfileLocal.MaMoyenneAnnee)</b> j/mois</span>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th scope="col" class="text-center">Mois</th>
            <th scope="col" class="text-center">Nombre de jours réservés</th>
            <th scope="col" class="text-center">Moyenne réservations /mois</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profileUserMonthsLocal in Model.ProfileLocal.ProfileUserMonthsListLocal)
        {
            <tr>
                <td class="text-center">@profileUserMonthsLocal.MoisString</td>
                <td class="text-center">@profileUserMonthsLocal.NbReservations</td>
                <td class="text-center">@string.Format("{0:F1}", profileUserMonthsLocal.MoyenneMois)</td>
            </tr>
        }

        <tr>
            <td class="text-center"><b>TOTAL</b></td>
            <td class="text-center"><b>@Model.ProfileLocal.TotalReservations</b></td>
            <td class="text-center"><b>@string.Format("{0:F1}", @Model.ProfileLocal.MoyenneAnnee)</b></td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Courbe de mes réservations sur l'année
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="line"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/chart.js/dist/chart.umd.js"></script>

@section scripts {
    <script>
        let mois = [];
        let data = [];

        console.log(data);

        let currentYear = new Date().getFullYear();
        let lineChart = document.getElementById("line").getContext('2d');
        let myChart = new Chart(lineChart, {
            type: "line",
            data: {
                labels: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                datasets: [{
                    label: currentYear,
                    data: data
                }]
            }
        });
    </script>
}